apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: store-db-pvc
  namespace: {{ .Values.store.namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.db.persistence.size }}
